* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

.header {
    background-color: #ffffff;
    padding: 10px 0;
    text-align: center;
    padding: 15px;

    z-index: 999;
    position: sticky;
    top: 0;
}

.header__container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    align-items: center;
}

.header__nav {
    display: contents;
}

.header__items {
    list-style: none;
    display: flex;
    gap: 20px;
}

.header__link {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.header__link.active,
.header__link:hover {
    color: #ff5722;
}

.telegram-link {
    color: #0088cc;
    font-weight: bold;
}

/* Основной блок страницы */
.main {
    padding: 2rem 0;
    display: grid;
    place-items: center;
}

.main section {
    background-color: #fff;
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1280px;
}

.main h2 {
    font-size: 24px;
    margin-bottom: 1rem;
    color: #ff5722;
}

.main p {
    font-size: 16px;
    margin-bottom: 1rem;
}

blockquote {
    font-style: italic;
    color: #666;
    padding: 1rem;
    background-color: #fafafa;
    border-left: 4px solid #ff5722;
}

/* Мобильность */
@media (max-width: 768px) {
    .header__items {
        flex-direction: column;
        gap: 10px;
    }

    .header__link {
        font-size: 16px;
    }

    blockquote {
        font-size: 14px;
    }
}

.footer__container {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}